:root {
    --dark: black;
    --main: #add8e6;
    --second: #93e5e9;
    --third: #87f1da;
}

* {
    box-sizing: border-box;
    background-color: var(--main);
    font-family: 'Patua One', cursive;
    padding: 10px;
    margin: 10px;
}

header {
    padding: 20px;
    text-align: center;
    display: inline-block;
}

header nav {
    width: 100%;
    background: var(--third);
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

.example-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}