:root {
    --dark: black;
    --main: #add8e6;
    --second: #93e5e9;
    --third: #87f1da;
}

/* want font of whole application to be the same */
* {
    border: content-box;
    font-family: 'Patua One', cursive;
}

header {
    padding: 0;
    text-align: center;
    display: inline-block;
    align-content: right;
    margin: 0;
    float: right;
}

/* want image to be certain size because original size is too big */
header img {
    float: left;
    height: 50px;
    width: 50px;
}

header nav {
    margin-right: 20px;
    width: 100%;
    background: var(--third);
    padding-top: 15px;
    margin: 0;
    font-size: 20px;
    border: groove;
    border-color: black;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin: 25px;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

.example-flex:hover {
    background-color: azure;
}

.pizza:hover {
    background-color: azure;
}

/* this is the class used to differentiate my first project from the rest */
.pizza {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: solid;
    background-color: var(--third);
    align-self: center; 
    border-radius: 15px;
}

/* now the image is bigger than the other projects */
.pizza img {
    max-width: 260px;
    max-height: 260px;
}

/* uniformity across rest of the projects with this selector */
.example-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: solid;
    background-color: var(--third);
    align-self: center; 
    border-radius: 15px;
}

.example-flex img {
    max-width: 160px;
    max-height: 160px;
}

/* used css variables to color different portions of the application */
.goals {
    background-color: var(--second);
}

.biography {
    background-color: var(--main);
}

.biography img {
    max-width: 240px;
    max-height: 240px;
}
.contact {
    background-color: var(--main);
    padding: 1em;
}

/* media query used to change colors depending on screen size and viewport */
@media screen and (max-width: 992px) {
    body {
        width: 100%;
        background-color: var(--main);
    }
}

@media screen and (max-width: 535px) {
    body {
        width: 100%;
        background-color: var(--third);
    }
}