:root {
    --dark: black;
    --light: white;
    --tertiary: lightblue;
}

* {
    box-sizing: border-box;
    background-color: var(--tertiary);
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px;
    text-align: center;
    display: inline-block;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}