
/* want font of whole application to be the same */
* {
    border: content-box;
    font-family: 'Patua One', cursive;
}

p {
    word-break: normal;
    word-wrap: break-word
}

.example-flex:hover {
    background-color: azure;
}

.tabcontent {
    display: none;
}

#goals {
    display: block;
}

#bio-width {
    width: 100px;

}

/* now the image is bigger than the other projects */
.pizza img {
    max-width: 260px;
    max-height: 260px;
}

/* uniformity across rest of the projects with this selector */
.example-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: solid;
    background-color: var(--third);
    align-self: center; 
    border-radius: 15px;
}

.example-flex img {
    max-width: 160px;
    max-height: 160px;
}

.biography img {
    max-width: 240px;
    max-height: 240px;
}

/* media query used to change colors depending on screen size and viewport */
/* @media screen and (max-width: 992px) {
    body {
        width: 100%;
        background-color: var(--main);
    }
}

@media screen and (max-width: 535px) {
    body {
        width: 100%;
        background-color: var(--third);
    }
} */